@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap');

:root {
    --main-color: #22BAA0;
    --color-dark: #34425A;
    --text-grey: #B0B0B0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

#menu-toggle {
    display: none;
   
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 165px;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    background: var(--color-dark);
    transition: left 300ms;
    
}

.side-header {
    background: var(--main-color);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-header h3, side-head span {
    color: #fff;
    font-weight: 400;
}

.side-content {
    height: calc(100vh - 60px);
    overflow: auto;
}

.side-menu ul {
    text-align: center;
  
}

.side-menu a {
    display: block;
    padding: 1.2rem 0rem;
}

.side-menu a.active {
    background: #2B384E;
}

.side-menu a.active span, .side-menu a.active small {
    color: #fff;
}

.side-menu a span {
    display: block;
    text-align: center;
    font-size: 1.7rem;
}

.side-menu a span, .side-menu a small {
    color: #f6f3ee;
}

#menu-toggle:checked ~ .sidebar  {
    width: 60px;
}
#menu-toggle:checked ~ .side-header  {
    width: 160px;
}


#menu-toggle:checked ~ .main-content {
    margin-left: 60px;
    width: calc(100% - 60px);

}

#menu-toggle:checked ~ .main-content header {
    left: 60px;
}

#menu-toggle:checked ~ .sidebar .side-menu a small {
    display: none;
}

#menu-toggle:checked ~ .sidebar .side-menu a span {
    font-size: 1.3rem;
}


.main-content {
    margin-left: 165px;
    width: calc(100% - 165px);
    transition: margin-left 300ms;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    left: 165px;
    z-index: 100;
    height: 60px;
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
    background: #fff;
    transition: left 300ms;
    
}

.header-content, .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
}

.header-content label:first-child span {
    font-size: 1.3rem;
}

.header-content label {
    cursor: pointer;
}

.header-menu {
    justify-content: flex-end;
    padding-top: .5rem;
}

.header-menu label,
.header-menu .notify-icon {
    margin-right: 2rem;
    position: relative;
}

.header-menu label span,
.notify-icon span:first-child {
    font-size: 1.3rem;
}

.notify-icon span:last-child {
    position: absolute;
    background: var(--main-color);
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -5px;
    top: -5px;
    color: #fff;
    font-size: .8rem;
    font-weight: 500;
}



main {
    margin-top: 60px;
}

.page-header {
    padding: 1.3rem 1rem;
    background: #9ca1a6;
    border-bottom: 1px solid #dee2e8;
}

.page-header h1, .page-header small {
    color: #ebedf0;
}

.page-content {
    padding: 1.3rem 1rem;
    background: #2757a3;
}


.content{
    border: 10px solid violet;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 20px;
    background: linear-gradient(to right,#adf7f2, #67bff2);
    padding: 20px;
    width: 1150px;
  margin-left: 50px;
    border-radius: 10px;
}
.container{
    width: 275px;
    height:350px;
    border-radius: 10px;
    /* border: 10px solid violet; */

}
.card:hover{
    cursor: pointer;
    transform: rotateY(180deg);
   
}

.card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 10px;
    /* border: 5px solid green;   */
}

.front,
.back{
    position: absolute;
    top: 
    0px;
    right: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;   
    /* border: 10px solid violet; */

}

p{
    line-height: 1em;
    font-size: 14px;
    color: rgb(252, 252, 252);
}

.pcontainer{
    margin-top: 30px;
}
.pp1container, .pp2container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px; 
}

.p1, .p2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}


.pp1 h2{
  font-size: 18px;
}

.pp1 h3{
  font-size: 10px;
}
.pp2 h2{
    font-size: 10px;
    text-align: center;
  }
  
.pp2 h3{
    font-size: 18px;
    text-align: center;
}

.front{
    background:linear-gradient(#4568dc , #b06ab3);  
}

.back{
    transform: rotateY(180deg);
    border-radius: 10px; 
    background:linear-gradient(#fafafc , #c6a2b9);
    padding: 10px;
    margin-bottom: -40px;
    padding-bottom: -40px;
    border: 1px solid black;
    height: 350px;   
}
.connect{
  width: 70px;
  border-radius: 10px;
  border: none;
  height: 30px;
  background: linear-gradient(#7beb62,#17d453);
  margin-left: 90px;
  margin-top: 20px;

}

.connect:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 1s;
    border: white;
}
.c1{
    width: 70%;
    height: 50%;   
    margin-left: 15%;
    margin-top: 10%;
    border-radius: 10px;
}
.name{
    color: black;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

 @media only screen and (max-width: 1200px) {
    .analytics {
        grid-template-columns: repeat(2, 1fr);
    }
    .content{
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        right: 50px;
       }
       
}

@media only screen and (max-width: 768px) {
    .analytics {
        grid-template-columns: 100%;
    }
    
    .sidebar {
        left:-165px;
        z-index: 90;
    }
    
    header {
        left: 0;
        width: 100%;
    }
    
    .main-content {
        position: relative;
        left: -165px;
        width: 100%;
    }
    .page-content{
      
        width: 100%;
    }
     
    #menu-toggle:checked ~ .sidebar {
        left: 0;
    }
    
    #menu-toggle:checked ~ .sidebar {
        width: 165px;
    }

    #menu-toggle:checked ~ .sidebar .side-header span {
        display: inline-block;
    }

    #menu-toggle:checked ~ .sidebar .profile,
    #menu-toggle:checked ~ .sidebar .side-menu a small {
        display: block;
    }

    #menu-toggle:checked ~ .sidebar .side-menu a span {
        font-size: 1.7rem;
    }
    
    #menu-toggle:checked ~ .main-content header {
        left: 0px;
    } 
    
   .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -50px;
   }
}

   @media only screen and (max-width: 400px) {
   
    
    .sidebar {
       display: none;
    }
    
    header {
        width: 100%;
    }
    
    .main-content {
        width: 100%;
        position: relative;
        left: -165px;

    }
    .page-content{
        left: 0;
        width: 100%;
    }
    
 
    
   .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -50px;
   
   }
   
}